<%- contentFor('HeaderCss') %>
<%- contentFor('body') %>

<div class="row">

</div><!-- end row -->

<div class="row">
    <div class="col-12" id="icons"></div> <!-- end col-->
</div><!-- end row -->


<%- contentFor('FooterJs') %>


<!-- materialdesign icon js-->
<script src="assets/js/pages/remix-icons-listing.js"></script>

<!-- App js -->