<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <p class="copy-rights mb-0" id="copy-right">
                    <script>
                       document.getElementById('copy-right').innerHTML = new Date().getFullYear()
                    </script> © Lucas Faustman.
                </p>
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Developed by Lucas Faustman.
                    <a href="https://github.com/LucasFaustman"><i class="lab la-github"></i></a>
                    <a href="https://www.linkedin.com/in/lucasfaustman/"><i class="lab la-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>