<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="index" class="logo logo-dark">
            <span class="logo-sm">
                <img src="/assets/images/logos/vector/default-monochrome-black.svg" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="/assets/images/logos/vector/default-monochrome-black.svg" alt="" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="/index" class="logo logo-light">
            <span class="logo-sm">
                <img src="/assets/images/logos/vector/default-monochrome-white.svg" alt="logo" height="22">
            </span>
            <span class="logo-lg">
                <img src="/assets/images/logos/vector/default-monochrome-white.svg" alt="logo" height="17">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="bx bxs-dashboard"></i> <span data-key="t-dashboards">Dashboards</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarDashboards">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="/index" class="nav-link" data-key="Home"> Home </a>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarTasks" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarTasks" data-key="t-tasks"> Tasks
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarTasks">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="/tasks/1/sort" class="nav-link" data-key="t-kanbanboard"> Upcoming Tasks </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/completedtasks/1/sort" class="nav-link" data-key="t-list-view"> Completed Tasks </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="/contacts/1/sort" class="nav-link" data-key="t-contacts"> Contacts </a>
                            </li>
                            <li class="nav-item">
                                <a href="/deals" class="nav-link" data-key="t-deals"> Deals </a>
                            </li>
                            <li class="nav-item">
                                <a href="/companies/1/sort" class="nav-link" data-key="t-companies"> Companies </a>
                            </li>
                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->
            </ul>
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>